ul {
  list-style-type: none;
}

.banner {
  position: fixed;
  width: 100%;
  overflow-x: hidden;
}

.bannerimg {
  width: 100%;
  height: 100px;
  z-index: -1;
  filter: blur(3px);
}

.headertext {
  position: absolute;
  top: -110px;
  left: 300px;
  color: white;
  font-size: 100px;

}

body {
  font-family: 'Poppins', sans-serif;
}

.subtext {
  font-size: 30px;
  color: black;
}

.hidden {
  background: linear-gradient(45deg, #F7D6F1, #A22B8C);
  border: solid;
  padding-right: 30px;
  position: absolute;
  width: 500px;
  box-shadow: 4px 4px 10px skyblue;
}

.hidden img {
  width: 100%;
  border: solid;
  border-color: grey;
  margin-left: 12px;
  margin-top: 12px;
}
.world {
  position: absolute;
  top: 120px;
  width: 100%;
  z-index: -2;
}

.marmoset {
  position: absolute;
  top: 400px;
  left: 470px;
}


.animaltext {
  background-color: rgba(222, 115, 202, 0.39);
  margin-top: 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-shadow: .3px .3px .3px white;
  box-shadow: .3px .3px .3px white;
}

.sandcat {
  position: absolute;
  top: 200px;
  left: 1100px;
}


.narwhal {
  position: absolute;
  top: 70px;
  left: 700px;
}

.redpanda {
  position: absolute;
  top: 200px;
  left: 1300px;
}

.hidden-red-panda {
  display: none;
}

.redpanda:hover .hidden-red-panda {
  display: block;
}

.dwarflemur {
  position: absolute;
  top: 500px;
  left: 1000px;
}

.markhor {
  position: absolute;
  top: 100px;
  left: 1100px;
}

.hidden-markhor {
  display: none;
}

.markhor:hover .hidden-markhor {
  display: block;
}

.wolverine {
  position: absolute;
  top: 80px;
  left: 900px;
}

.snow-leopard {
  position: absolute;
  top: 110px;
  left: 1200px;
}

.hidden-snow-leopard {
  display: none;
}

.snow-leopard:hover .hidden-snow-leopard {
  display: block;
}

.hoodedseal {
  position: absolute;
  top: 800px;
  left: 1000px;
}
.hidden-hooded-seal {
  display: none;
}

.hoodedseal:hover .hidden-hooded-seal {
  display: block;
  position: relative;
  top: -590px;
  left: 100px;
}

.dorcopsis {
  position: absolute;
  top: 600px;
  left: 1400px;
}

.hidden-dorcopsis {
  display: none;
}

.dorcopsis:hover .hidden-dorcopsis {
  display: block;
  position: relative;
  top: -400px;
  left: 100px;
}

.hidden-narwhal {
  display: none;
}

.narwhal:hover .hidden-narwhal {
  display: block;
}

.hidden-dwarflemur {
  display: none;
}

.dwarflemur:hover .hidden-dwarflemur {
  display: block;
  position: relative;
  top: -300px;
  left: 100px;
}

.hidden-wolverine {
  display: none;
}

.wolverine:hover .hidden-wolverine {
  display: block;
}

.hidden-sandcat {
  display: none;
}

.sandcat:hover .hidden-sandcat {
  display: block;
}

.redsquirrel {
  position: absolute;
  top: 150px;
  left: 300px;
}
.hidden-squirrel {
  display: none;
}

.redsquirrel:hover .hidden-squirrel {
  display: block;
}

.animalimg {
  max-height: 70px;
  border-radius: 45px;
  box-shadow: 1px 5px 6px skyblue;
}

.hidden-marmoset {
  display: none;
}

.marmoset:hover .hidden-marmoset {
  display: block;
}

.animalimg:hover {
  border: solid;
  border-color: white;
}
