.banner {
  position: fixed;
  width: 100%;
  overflow-x: hidden;
}

.bannerimg {
  width: 100%;
  height: 100px;
  z-index: -1;
  filter: blur(3px);
}

.headertext {
  position: absolute;
  top: -110px;
  left: 100px;
  color: white;
  font-size: 100px;

}

body {
  font-family: 'Poppins', sans-serif;
}

.world {
  position: absolute;
  top: 120px;
  width: 100%;
  z-index: -2;
}

.marmoset {
  position: absolute;
  top: 400px;
  left: 470px;
}

.marmoset img {
  max-height: 70px;
  border-radius: 45px;
}

.animaltext {
  background-color: rgba(222, 115, 202, 0.39);
  margin-top: 0;
}

.sandcat {
  position: absolute;
  top: 200px;
  left: 1100px;
}

.sandcat img {
  max-height: 70px;
  border-radius: 45px;
}

.narwhal {
  position: absolute;
  top: 70px;
  left: 700px;
}



.redpanda {
  position: absolute;
  top: 200px;
  left: 1300px;
}



.dwarflemur {
  position: absolute;
  top: 500px;
  left: 1000px;
}



.markhor {
  position: absolute;
  top: 100px;
  left: 1100px;
}


.wolverine {
  position: absolute;
  top: 80px;
  left: 900px;
}


.snowleopard {
  position: absolute;
  top: 110px;
  left: 1200px;
}


.hoodedseal {
  position: absolute;
  top: 800px;
  left: 1000px;
}


.dorcopsis {
  position: absolute;
  top: 600px;
  left: 1400px;
}

.redsquirrel {
  position: absolute;
  top: 150px;
  left: 300px;
}

.animalimg {
  max-height: 70px;
  border-radius: 45px;
}

.hidden-marmoset {
  display: none;
}

.marmoset:hover .hidden-marmoset {
  display: block;
}

.animalimg:hover {
  border: solid;
  border-color: white;
}

.subtext {
  font-size: 50px;
  color: white;
}
